@font-face {
font-family: 'Proxima Nova Regular';
src: url('../fonts/Proxima/ProximaNova-Regular.eot');
src: url('../fonts/Proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Proxima/ProximaNova-Regular.woff') format('woff'),
url('../fonts/Proxima/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Proxima Nova Bold';
src: url('../fonts/Proxima/ProximaNova-Bold.eot');
src: url('../fonts/Proxima/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Proxima/ProximaNova-Bold.woff') format('woff'),
url('../fonts/Proxima/ProximaNova-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@mixin reg {
	font-family: 'Proxima Nova Regular', sans-serif;
	font-weight: 300;
}
@mixin bold{
	font-family: 'Proxima Nova Bold', sans-serif;
	font-weight: 700;
}