@font-face {
font-family: 'ProximaNova-Bold';
src: url('../fonts/Proxima/ProximaNova-Bold.ttf'),
url('../fonts/Proxima/ProximaNova-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: optional;
}

@font-face {
font-family: 'ProximaNovaCond-Regular';
src: url('../fonts/Proxima/ProximaNovaCond-Regular.ttf'),
url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: optional;
}

@mixin reg {
	font-family: 'ProximaNovaCond-Regular', sans-serif;
	font-weight: 300;
}
@mixin bold{
	font-family: 'ProximaNova-Bold', sans-serif;
	font-weight: 700;
}