@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
* {
  box-sizing: border-box;
}

/* line 3, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

/* line 5, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
img {
  max-width: 100%;
}

/* line 7, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  /* line 11, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  /* line 14, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
  .container {
    max-width: 580px;
    width: 90%;
  }
}

/* line 17, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 15px 20px;
}

/* line 22, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

/* line 25, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
.section {
  padding: 90px 0;
}

/* line 27, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

/* line 30, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
.section-subtitle {
  font-size: 16px;
  display: block;
}

/* line 33, D:/Уроки/COURSE/lesson-16/src/sass/_interface.sass */
.input {
  border: 1px solid #ddd;
  padding: 20px 26px;
  border-radius: 10px;
  font-size: 15px;
}

/* line 1, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
.navbar {
  padding: 8px 0;
}

/* line 3, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 7, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

/* line 11, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
.navbar__address {
  display: flex;
  flex-direction: column;
  color: #333;
  font-size: 13px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

/* line 17, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
.navbar__button {
  margin-left: 30px;
  padding: 18px 35px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
  outline: none;
}

/* line 23, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
.navbar__phone {
  display: inline-block;
  color: #333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  /* line 33, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
  .navbar__contacts {
    display: none;
  }
  /* line 35, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  /* line 38, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_navbar.sass */
  .navbar__logo {
    width: 90px;
  }
}

/* line 1, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero {
  padding: 50px 0;
  background: #f5f5f5;
}

/* line 4, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-block {
  display: flex;
  align-items: center;
}

/* line 7, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}

/* line 10, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-text__title {
  font-size: 41px;
  color: #333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 40px;
}

/* line 16, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  color: #333;
  margin-bottom: 69px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

/* line 22, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-list {
  margin: 0;
  padding: 0;
}

/* line 25, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* line 29, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-list__item:last-child {
  margin-bottom: 0;
}

/* line 31, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-list__image {
  flex-basis: 40px;
  height: 40px;
  min-width: 40px;
  border: 2px solid #ffd200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  border-radius: 50%;
}

/* line 41, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  /* line 45, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-list {
    margin-bottom: 44px;
  }
  /* line 47, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
  /* line 52, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-block {
    flex-direction: column;
  }
  /* line 55, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-text__title {
    font-size: 33px;
  }
}

@media (max-width: 768px) {
  /* line 61, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  /* line 65, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  /* line 69, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-list__item {
    margin-bottom: 20px;
  }
  /* line 71, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-list__text {
    font-size: 12px;
  }
  /* line 73, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_block-1.sass */
  .hero-list__image {
    margin-right: 15px;
  }
}

/* line 1, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer {
  background: url("../img/offer-bg.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

/* line 6, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* line 14, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

/* line 18, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
}

/* line 22, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

/* line 25, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer__input {
  margin-bottom: 30px;
  width: 240px;
  outline: none;
}

/* line 29, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer__input:first-child {
  margin-right: 10px;
}

/* line 31, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer__button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  width: 100%;
  min-height: 70px;
  outline: none;
}

@media (max-width: 1200px) {
  /* line 37, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
  .offer {
    background-size: cover;
  }
  /* line 39, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 42, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  /* line 45, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
  .offer {
    background: #fff;
  }
  /* line 47, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

/* line 50, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer-wrapper-text {
  display: flex;
  margin-top: 35px;
  line-height: 1.5;
}

/* line 54, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer-text-1 {
  font-size: 15px;
  margin-right: 40px;
}

/* line 57, D:/Уроки/COURSE/lesson-16/src/sass/blocks/_offer.sass */
.offer-text-2 {
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */