.footer
	background-color: $black
	color: $white
	padding: 60px
	position: relative
	&__block
		display: flex
		justify-content: space-around
		align-items: center
	&__title
		font-size: 20px
	&__link
		margin-left: 7px
		color: $white
		text-decoration: none
		font-size: 18px
	&__email
		&:after
			content: '|'
			margin-left: 37px
			color: $white
			opacity: 0.33
			position: absolute
			top: 45%
			left: 64%
	&__tel
		color: $white
		text-decoration: none
		font-size: 18px
		margin-left: 10px
	&__bold
		+bold
	&__icon
		margin-right: 5px
		&:hover
			background-color: $main-color
			cursor: pointer
			border-radius: 50%
.far, .fas
	color: $main-color