*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.a-top{
	margin: 1px;
}
.header{
	margin-top: 15px;
}
.container{
	width: 1070px;
	margin: 0 auto;
	color: #fff;
}
p{
	text-align: justify;
	width: 900px;
	margin-bottom: 10px;
}
ul{
	line-height: 2;
}
a{
	color: #fff;
}
.menu{
	position: fixed;
	right: 35px;
	top: 55px;
}
h1, h2{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
}
.container h2 a{
	color: green;
}
img{
	display: block;
	margin: 15px auto;
	border: 3px solid #fff;
	border-radius: 5px;
	padding: 5px 5px;
}
.note-4-margin{
	margin-top: 15px;
	margin-bottom: 15px;
}
.back-top{
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
}
.container .back-top a{
	color: red;
}
.bg{
	background-color: #401f0c;
}
.note{
	margin-left: 35px;
}
.em{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}
.note-1{
	font-size: 20px;
	font-weight: bold;
}
.note-2{
	font-size: 20px;
	font-weight: bold;
}
.note-3{
	font-size: 20px;
	font-weight: bold;
}
.note-4{
	font-size: 20px;
	font-weight: bold;
}
.note-5{
	font-size: 20px;
	font-weight: bold;
}
.strike{
	text-decoration: line-through;
}