.accordion-item{
	width: 53%;
	margin: 0 auto;

}
.accordion-item-header {
  padding: 10px 15px;
  background: #ed5565;
  color: #fff;
  cursor: pointer;
}
.accordion-item-content {
  background: #383838;
  color: #fff;
  display: none;
  line-height: 1.6;
}
.accordion-item.show .accordion-item-content {
  padding: 10px 15px;
  display: block;
}
.accordion-item.show .accordion-item-header {
  background: #da4453;
  color: #fff;
}
.accordion-list{
	list-style: none;
}
.accordion-list-li{
	line-height: 2.4;
}
.accordion-item {
  margin-bottom: .25rem;
}
.accordion-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px){
  .accordion-item{
    width: 70%;
  }
}