.navbar
	padding: 15px 0
	background-color: #db4453
	&__wrapper
		display: flex
		justify-content: space-between
	&__link
		text-decoration: none
		color: $white
		font-family: 'Cuprum', sans-serif;
	// &__logo
	// 	width: 100px
	// 	height: 100px
	// 	display: flex
	// 	align-items: center
@media (max-width: 1170px)
	.navbar
		&__wrapper
			justify-content: space-around
@media (max-width: 576px)
	.navbar
		display: none
